@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-neutral-800;
}

*{
  scroll-behavior: smooth;
}
.decision{
  margin: auto;
  position: fixed;
  width: 400px;
  height: 150px;
  top: 30px;
  left: 0;
  right: 0;
  max-width: 90%;
  text-align: center;
  padding-top: 30px;
  border-width: 2px;
  @apply z-50;
}
.decision span{
font-size: 26px;
font-weight: 600;
}
.decision button{
  outline: none;
  height: 35px;
  width: 100px;
  color: #fff;
  margin-left: 10px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
#button_nie{
  @apply bg-red-500 hover:bg-red-600;
}
#button_tak{
  @apply bg-blue-500 hover:bg-blue-600;
}
@keyframes slideInDown{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);visibility:visible}to{-webkit-transform:translateZ(0);transform:translateZ(0)}}

.optionListContainer{
  @apply bg-neutral-500;
  margin-left: -3px;
  margin-top: 3px;
}
.optionContainer{
  border: 0 !important;
}
.highlightOption{
  @apply bg-neutral-500;
}
.p-button[aria-label="Upload"]{
  display: none;
}
.p-badge-warning{
  display: none;
}